<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
		<title>Data management</title>
	</head>
	<body>
		<div align="center">
			<h3>Add tag</h3>
			<form action="/add_tag" method="POST">
				<label>Tag</label>
				<input type="text" name="tag_content" placeholder="tag content...">
				<button type="submit">Add</button>
			</form>
			<br>
			<a href="/all_tags">Show all tags</a>
			
			<br>
			<a href="/tag_relations">Show all tag relations</a>
		</div>
	</body>
</html>